* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background-image:linear-gradient(rgba(0,0,100,0.5),rgba(0,0,0,0.5)),url("/home/juan/Desktop/FrontendPaquete/imagenesIconos/img4.png");
	background-size: cover;
	background-position: center;

}

main {
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 50px;
}
.diligencia{
	position: relative;
	top:90px;
	font-size: 20px;
	font: oblique bold 120% cursive;
	color: rgb(90, 88, 88);
	left: 26px;
}

.campos-obligatorios{
	position: absolute;
	top:145px;
	font-size: 14px;
	right: 380px;
	color: rgb(163, 162, 162)
}

.formulario {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 21px 40px;
	background: rgb(255, 255, 255) ;
	flex-direction: column;
	align-items: center;
	padding-top: 0.5rem;
	border-radius: 15px;
	padding: 120px;
	width:900px;
	margin-top: 30px;
	margin-left: -110px;
	height: 520px;
}



.inputWithIcon {
  position: relative;
}

.inputWithIcon i {
	position: absolute;
	left: 265px;
	top: 2px;
	padding: 9px 8px;
	color: rgb(59, 216, 59);
    font-size: 25px;
	
}
.inputWithIco{
	position: relative;
}

.inputWithIco i {
	position: absolute;
	left: -23px;
	top:85px;
	padding: 9px 8px;
	color: rgb(236, 126, 0);
    font-size: 20px;
	
}

	.overlayinn { /* Propiedades de la transparencia */
	background-color: rgba(226, 226, 226, 0.6);
	width: 300px; /* ancho del contenedor de texto */
	height: 100px; /* alto del contenedor de texto */
	top: -70px; /*distancia hacia abajo*/
	left: 80px; /*distancia hacia la derecha*/
	opacity: 0; /* esta condicion mantiene el texto oculto */
	position: absolute;
	transition: opacity .30s;
	text-align: center;/* texto centrado */
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px; /* tama�o de letra */
	color:#666060;
	border-radius: 30px;
	line-height: 120%;
	font-family: monospace;
	box-shadow: 2px 2px 15px rgb(118, 118, 214)
	}
	.overlayinn:hover { /* Efecto al pasar el mouse */
	opacity: 1;
	transition: opacity .5s;
	

	}
   
	.overlay{
		text-align: center;
		font-size: 9px;
		color: black;
		font: oblique bold 120% cursive;
	}


.input-icono {
	background-image: url('/home/juan/Desktop/FrontendPaquete/imagenesIconos/img.png');
	background-repeat: no-repeat;
	background-position: 4px center;
	background-size: 20px;
	padding-left: 28px;
	width: 100%;
	border: none;
    border-bottom: 3px solid #f0e7e7;
	color: rgb(131, 130, 130);
	height: 45px;
	line-height: 45px;
  }

  .input-icono:focus {
	border: none;
	border-bottom: 2px solid #FF8000;
    color: rgb(192, 189, 189);
	outline: none;
	
}

.formulario__label {
	font-size: small ;
	display: block;
	font-weight: 100;
	padding: 0px;
	cursor: pointer;
	color: rgb(107, 106, 106);
}

.formulario__grupo-input {
	position: relative;
	
}

.formulario__input {
	width: 100%;
	border: 0;
    border-bottom: 3px solid #f0e7e7;
	color: rgb(131, 130, 130);
	height: 45px;
	line-height: 45px;
	padding: 0;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: none;
	border-bottom: 2px solid #FF8000;
    color: rgb(192, 189, 189);
	outline: none;
	
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}



.formulario__btns {
	
    margin-right: 100%;
	line-height: 45px;
	position: relative;
	left: 13%;
	width: 70%;
	background: none;
	color: rgb(235, 122, 57) ;
	font-weight: bold;
	border: rgb(235, 122, 57) 1px solid;
	border-radius: 30px;
	cursor: pointer;
	transition: .1s ease all;
}
.formulario__btn {
	
    
	line-height: 45px;
	width: 80%;
	background: linear-gradient(to right, rgb(130, 130, 233), rgb(70, 93, 196));
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 30px;
	cursor: pointer;
	transition: .1s ease all;
	position: relative;
	left: 120%;
	top: -50px;

}



.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */


.formulario__grupo-incorrecto .formulario__input-error {
	color: #bb2929;
}
.formulario__grupo-incorrecto .input-icono{
	color: #bb2929;
}


.formulario__grupo-incorrecto .formulario__input {
	border-bottom: 3px solid rgb(206, 31, 31);
}
.formulario__grupo-incorrecto .input-icono {
	border-bottom: 3px solid rgb(206, 31, 31);
}


/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 1200px) {
	.formulario {
		grid-template-columns: 1fr;
		height: 80%;
		margin: -70px;
		margin-top: 50px;
		width: 125%;
		padding: 70px;
	}
	.campos-obligatorios{
		position: relative;
		left: 60%;
		margin-left: 50px;
		top: 130px;
		
	
		
	}
	.inputWithIcon i {
		position: absolute;
		left: 500px;
		margin-left:2px;
		
		
	}
	.overlayinn { 
		left: 270px;
		}
	
	

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
		width: 100%;
	}
}